@import url("./box.css");
div {
    font-size: 50px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: orange;
    transition: 1s;
}

.box:hover {
    width: 300px;
    background-color: royalblue;
}

.box:active {
    width: 500px;
    background-color: skyblue;
}

.box:focus {
    width: 800px;
    background-color: slateBlue;
}

.box::before {
    content: "";
    width: 30px;
    height: 30px;
    background-color: royalblue;
    display: block;
}

.box::after {
    content: "";
    width: 30px;
    height: 30px;
    background-color: darkgreen;
    display: block;
}

input {
    border: 1px bold;
}

input:focus {
    background-color: rgb(171, 171, 201);
}

[type="password"] {
    background-color: orange;
}

[data-fruit-name] {
    color: red;
}